<table class='table table-striped'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Address</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat='customer in vm.customers'>
        <td ng-show='vm.cl[customer.id]'>{{customer.name}}</td>
        <td ng-show='vm.cl[customer.id]'>{{customer.telephone}}</td>
        <td ng-show='vm.cl[customer.id]'>{{customer.email}}</td>
        <td ng-show='vm.cl[customer.id]'>{{customer.address.street}}, {{customer.address.city}}, {{customer.address.state}}, {{customer.address.zip}}</td>
        <td ng-show='vm.cl[customer.id]'>
          <a><span class='glyphicon glyphicon-pencil' ng-click='vm.cl[customer.id] = false'></span></a>
          <a ng-click='vm.deleteCustomer(customer)'><span class='glyphicon glyphicon-trash'></span></a>
        </td>
        <td ng-show='!vm.cl[customer.id]'><input type='text' class='form-control' ng-model='customer.name' placeholder='Name' /></td>
        <td ng-show='!vm.cl[customer.id]'><input type='text' class='form-control' ng-model='customer.telephone' placeholder='Telephone' /></td>
        <td ng-show='!vm.cl[customer.id]'><input type='text' class='form-control' ng-model='customer.email' placeholder='Email' /></td>
        <td ng-show='!vm.cl[customer.id]'><input type='text' class='form-control' ng-model='customer.address.street' placeholder='Street' />, <input type='text' class='form-control' ng-model='customer.address.state' placeholder='State' />, <input type='text' class='form-control' ng-model='customer.address.city' placeholder='City' />, <input type='text' class='form-control' ng-model='customer.address.zip' placeholder='Zip Code' /></td>
        <td ng-show='!vm.cl[customer.id]'>
          <a><span class='glyphicon glyphicon-ok' ng-click='vm.updateCustomer(customer)'></span></a><br/>
          <a><span class='glyphicon glyphicon-remove' ng-click='vm.cl[customer.id] = true'></span></a>
        </td>
      </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Create customer</button>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class='modal-header'>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Create Customer
      </div>

      <div class='container modal-body'>
        <div class='row'>

          <div class='col-md-6 col-md-offset-3'>
            <div class='input-group'>
              <input type='text' class='form-control' ng-model='vm.newCustomer.name' placeholder='Name' />
            </div>

            <div class='input-group'>
              <input type='text' class='form-control' ng-model='vm.newCustomer.telephone' placeholder='Telephone' />
            </div>

            <div class='input-group'>
              <input type='text' class='form-control' ng-model='vm.newCustomer.email' placeholder='Email' />
            </div>

            <div class='input-group'>
              <input type='text' class='form-control' ng-model='vm.newCustomer.address.street' placeholder='Street' />
            </div>

            <div class='input-group'>
              <input type='text' class='form-control' ng-model='vm.newCustomer.address.state' placeholder='State' />
            </div>

            <div class='input-group'>
              <input type='text' class='form-control' ng-model='vm.newCustomer.address.city' placeholder='City' />
            </div>

            <div class='input-group'>
              <input type='text' class='form-control' ng-model='vm.newCustomer.address.zip' placeholder='Zip Code' />
            </div>
          </div>
      </div>
    </div>

    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary" data-dismiss='modal' ng-click='vm.createCustomer()'>Save changes</button>
     </div>
  </div>
</div>
